header {
    width: 100%;
    float: left;
}
main {
    padding: 8px;
    position: absolute;
    top: 128px;
    left: 5vw;
    width: calc(90vw - 16px);
}
img#icon {
    width: 64px;
    height: 64px;
    float: left;
}
.frame {
    background-color: rgb(15,200,15,0.75);
    box-shadow: 0px 4px 2px rgb(5,150,8,0.9);
}
body {
    margin: 0px;
    font-family: 'Lucida Sans';
}
.header-item {
    height: 64px;
    float: left;
    border-left: 1px solid rgb(64,64,64,0.5);
    border-right: 1px solid rgb(128,128,128,0.5);
}
.header-title {
    height: 64px;
    float: left;
    border-left: 1px solid rgb(92,92,92,0.5);
    border-right: 1px solid rgb(128,128,128,0.5);
}
.text {
    color: black;
    text-decoration: none;
    margin: 12px;
    text-shadow: 3px 3px 0px rgba(0,0,0,.2);
}
.headertext {
    display: block;
}
.headertitle {
    font-weight: bold;
}
a.headertext {
    font-size: 32px;
}
img.bgimg {
    z-index: -99999;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
}
div.popup {
    position: absolute;
    display: inline;
    background-color: rgb(0,0,0,0.5);
    border-radius: 2;
    border: 2px solid black;
    padding: 4px;
    color: white;
}
.pointer {
    cursor: pointer;
}